*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(53, 19, 19);
    height: 968px;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
#list{
    list-style-type: none;
}
.img1{
   
    
}
.left_nav{
    display: flex;
    padding-left: 60px;
    gap: 20px;
    padding-top: 20px;
}
.left_nav h1{
    padding-top: 15px;
    color: aliceblue;
}
.right_nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 40px;
    color: aliceblue;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.content{
    display: flex;
    
    align-items: center;
    color: aliceblue;
    
    
}
.left1{
   display: flex;
   flex-direction: column;
   align-content: center;
   padding: 70px;
   gap: 50px;  
   width: 50%; 
   
}
.left1 h1{
    font-style: italic;
    color:rgb(226, 150, 9);
    font-family:'Times New Roman', Times, serif;

}
.left1 h3{
     font-size: 40px;  
}
.left1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttons{
    display: flex;
    gap: 30px;
    justify-content: space space-around;
    
    
}
#order_now{
    background-color: rgb(226, 150, 9);
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 22px;
    
    
}
#contact_us{
    height: 40px;
    width: 120px;
    color: aliceblue;
    border-radius: 22px;
    background-color: transparent;
}