*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    background-color: rgb(53, 19, 19);
    height: 100vh;
    
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  #list{
    list-style-type: none;
  }
  .img1{
   
    
  }
  .left_nav{
    display: flex;
    padding-left: 4rem;
    gap: 1.4rem;
    padding-top: 1.5rem;
  }
  .left_nav h1{
    padding-top: 1rem;
    color: aliceblue;
  }
  .right_nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 3.5rem;
    color: aliceblue;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  .content{
    display: flex;
    
    align-items: center;
    color: aliceblue;
    
    
  }
  .left1{
   display: flex;
   flex-direction: column;
   align-content: center;
   padding: 4.4rem;
   gap: 3.3rem;  
   width: 50%; 
   
  }
  .left1 h1{
    font-style: italic;
    color:rgb(226, 150, 9);
    font-family:'Times New Roman', Times, serif;
  
  }
  .left1 h3{
     font-size: 2.6rem;  
  }
  .left1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .buttons{
    display: flex;
    gap: 2rem;
    justify-content: space space-around;
    
    
  }
  #order_now{
    background-color: rgb(226, 150, 9);
    height: 2.6rem;
    width: 7rem;
    border: none;
    border-radius: 1.4rem;
    
    
  }
  #contact_us{
    
    color: aliceblue;
    
    background-color: transparent;
    height: 2.6rem;
    width: 7rem;
    border-radius: 1.4rem;
    
   
  }